.wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.checkbox {
  border: 2px solid var(--foreground);
  background-color: var(--background);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.label {
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}