.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox {
  border: 2px solid var(--foreground);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}