.tracker {
  display: flex;
  position: absolute;
  bottom: 0;
  gap: 2px;
  left: 1rem;
  width: 4rem;
  
  &.isLarge {
    width: 100%;
    left: 0;
    bottom: -0.5rem;
  }
}

.track {
  flex: 1;
  background-color: var(--grayed);
  height: 4px;
  transition: background-color 0.3s;

  &.isFilled {
    background-color: var(--foreground);
  }

  &.isCorrect {
    background-color: var(--correct);
  }
}