.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.sequence {
  text-align: center;
  color: var(--foreground);
}

.letter {
  display: inline-flex;
  font-size: 1.25rem;
  background-color: var(--grayed);
  color: var(--foreground);
  padding: 0.5rem;
  width: 3rem;
  justify-content: center;
  flex: 1;
  border-radius: 0.25rem;

  &:not(:last-child) {
    margin-right: 0.25rem;
  }
}
