.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.sequence {
  display: flex;
  text-align: center;
  color: var(--foreground);
}

.letter {
  display: flex;
  font-size: 1.25rem;
  color: var(--foreground);
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  font-weight: 700;
  flex: 1;
  border-radius: 0.25rem;
  position: relative;

  &:not(:last-child) {
    margin-right: 0.25rem;
  }
}
