.toggle {
  outline: none;
  display: inline-flex;
  align-items: center;
  background-color: var(--background);
  border: 2px solid var(--foreground);
  border-radius: 0.25rem;
  font-size: 0.875rem;
  box-shadow: var(--shadow-interactive);
  transition: border-color 0.2s, box-shadow 0.2s, transform 0.2s;
  padding: 0.25rem;

  &:hover {
    cursor: pointer;
    background-color: var(--olive-3);
  }
  
  &:active {
    box-shadow: none;
    transform: translateY(2px);
  }
}

[data-theme='dark'] .toggle {

  &:hover {
    background-color: var(--grayed);
  }
}