.button {
  border: none;
  display: inline-flex;
  padding: 0.125rem;
  margin-left: 0.125rem;
  background-color: transparent;
  border-radius: 0.25rem;
  color: var(--olive-10);

  &:hover {
    background-color: var(--grayed);
    color: var(--foreground);
  }
}

.content {
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 16rem;
  line-height: 1.2;
  background-color: var(--background);
  color: var(--foreground);
  box-shadow: 0 2px 0 var(--foreground);
  border: 2px solid var(--foreground);
  font-size: 0.875rem;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.content[data-state="open"][data-side="top"] {
  animation-name: slideDownAndFade;
  z-index: 9999;
}


@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(6px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}