
.trigger {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border: none;
  padding: 0.25rem 0.5rem;
  position: relative;
  line-height: 1;
  gap: 0.25rem;
  background-color: var(--background);
  border: 2px solid var(--foreground);

  & > span {
    white-space: nowrap;
  }

  &[data-state="open"] {
    .icon {
      transform: rotate(180deg);
    }
  }

  &[data-disabled] {
    background-color: var(--grayed);
    color: var(--foreground);
    opacity: 0.5;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--grayed);
  }
}

.value {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content {
  background-color: var(--background);
  overflow: hidden;
  border-radius: 0.25rem;
  border: 2px solid var(--foreground);
  box-shadow: 0 2px 0 var(--foreground);
  z-index: 100;
  width: 100%;
}

.item {
  display: flex;
  gap: 0.25rem;
  padding: 0.75rem 1rem 0.75rem 1.5rem;
  align-items: center;
  position: relative;
  user-select: none;

  &[data-state="checked"] {
    background-color: var(--foreground);
    color: var(--background);
  }

  &[data-highlighted] {
    &:not([data-state="checked"]) {
      background-color: var(--grayed);
    }
  }
}

.tag {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  width: min-content;

  & > svg {
    border-radius: 3rem;
    background-color: var(--grayed);
  }
}

.scrollUp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet-11);
  cursor: default;
}

.icon {
  transition: transform 0.2s;
}