.button {
  background-color: var(--background);
  color: var(--foreground);
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  border: 2px solid var(--foreground);
  box-shadow: 0 2px 0 var(--foreground);
  text-align: center;
  white-space: nowrap;
  font-size: 1.125rem;
  transition: transform 0.2s, box-shadow 0.2s;

  &.isSmall {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    background-color: var(--grayed);
    flex: 1;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
    transform: translateY(2px);
  }
}