.flex {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 5rem repeat(6, minmax(6rem, 1fr));
  position: relative;
  overflow-x: auto;
  box-shadow: 0 0 0 var(--shadow-normal);

  &.notScrolledToEnd {
    box-shadow: inset -6px 0px 6px var(--shadow-normal);
  }
}

.gridColumn {
  display: grid;
  grid-template-rows: repeat(4, minmax(2rem, 1fr)); 
  margin-right: -2px;

  &.isFixed {
    position: sticky;
    left: 0;
    background: var(--background);
    z-index: 9;
  }
}

.gridItem {
  border: 2px solid var(--foreground);
  text-align: center;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &.isEmpty {
    background: var(--grayed);
  }

  &.isSpaced {
    border: none;
    border-right: 2px solid var(--foreground);
  }

  &:not(:first-child) {
    margin-top: -1px;
  }

  &:not(:last-child) {
    margin-bottom: -1px;
  }
}

.stat {
  position: relative;
  display: block;
  width: fit-content;
}

.statIndicator {
  position: absolute;
  right: calc(100% + 0.125rem);
  top: 50%;
  transform: translateY(-50%);
}

.statHeading {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
}

.button {
  margin: 1rem 0;
  font-size: 1rem;
  flex: 1;
}

.footer {
  border-top: 2px solid var(--foreground);
  padding-top: 1rem;
  margin-top: 1rem;
  font-size: 0.875rem;

  & > p {
    margin: 1rem 0;
  }
}

.footerText {
  line-height: 1.2;
  margin-bottom: 1rem;
}

.donateButton {
  display: block;
  text-align: center;

  &>img {
    width: 144px;
    height: 40px;
  }
}

.banner {
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.bannerHeading {
  margin-bottom: 0.5rem;
}

.bannerButtonWrapper {
  display: flex;
  gap: 0.5rem;
}

.bannerButton {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  margin-top: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}