.playarea {
  width: 100%;
  max-width: 632px;
  margin: 0 auto;
  max-height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-height: 960px) and (max-width: 660px) {
  .playarea {
    max-height: calc(100vh - 60px);
  }
}