.flexList {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: flex-end;

  &.alignStart {
    align-items: flex-start;
  }

  &.alignCenter {
    align-items: center;
  }
}

.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.flexItem {
  flex: 1;
}

.flexHeading {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--olive-9);
  margin-bottom: 0.5rem;
}