.guess {
  padding: 1rem 0;
  border: none;
  font-size: 1rem;
  text-align: center;
  overflow-x: clip;
  letter-spacing: 1px;
  transition: opacity 0.2s;

  &.loading {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }
}